@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.container {
    margin: 280px auto;
    padding: 30px;
    width: 500px;
    box-sizing: border-box;
}

.weniv_logo {
    width: 138px;
    display: block;
    margin: 0 auto 28px;
}

.title {
    width: 269px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.login_link {
    display: flex;
    width: 440px;
    height: 60px;
    margin: 32px auto 0;
    background-color: #2f80ed;
    color: white;
    text-decoration: none;
    align-items:center ;
    justify-content: center;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    border-radius: 5px;
}